:root {
    --header-height: 60px;

    --primary-color: hsl(47, 100%, 50%);
    --body-color: hsl(206, 4%, 97%);
    --text-color: hsl(0, 0%, 10%);
    --alt-color: hsl(206, 4%, 97%);

    --body-font: 'Kode Mono';
    --title-font: 'Anta';
    --dec-font: 'Dancing Script';
    --cur-font: 'Yellowtail';

    --big-font: 2rem;
    --medium-font: 1.5rem;
    --normal-font: 1rem;
    --small-font: .8rem;

    --sp-0-5: .5rem;
    --sp-0-75: .75rem;
    --sp-1: 1rem;
    --sp-1-5: 1.5rem;
    --sp-2: 2rem;
    --sp-2-5: 2.5rem;
    --sp-3: 3rem;

    --z-fixed: 100;
    --z-modal: 200;
    --clr-border: #040202;
}

@media (min-width: 992px) {
    :root {
        --big-font: 2.5rem;
        --medium-font: 2rem;
        --normal-font: 1.25rem;
        --small-font: 1rem;
    }
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font);
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font);
    color: var(--text-color);
    background-color: var(--body-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    color: var(--text-color);
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
}

/*CONFIGURACION GLOBAL*/

.section {
    padding: var(--sp-2) 0 var(--sp-1);

}

.section--title,
.container {
    max-width: 1024px;
    margin: 0;
}





/*CONFIGURACION DEL HEADER*/


 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: var(--z-fixed);
    box-shadow: 0 5px 10px 2px #0000002c;
}

.header__nav {
    font-size: var(--small-font);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1024px;
} 

.nav__menu{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.logo {
    font-family: var(--cur-font);
    font-size: var(--big-font);
    width: 20%;
    padding-left: 8px;
} 

 .nav__list {
    height: 70%;
    display: flex;
    font-size: var(--small-font);
    padding-left: 80px; 
     font-weight: bold; 
 } 

 .nav__items {
    margin-right: 20px;    ;
}

.nav__link:hover {
    color: var(--alt-color);
    width: 10%;
}

.menu__btn {  
    display: none;
}

.cerrar__btn {
    display: none;
} 

/*ESTE ES LA 1ra SECTION HERO*/

.cont_main {
    display: flex;
    align-items: center;
    width: 100%;
    background: url(../imgs/fondooscuro.png);
    background-size: cover;
    margin-top: var(--header-height);
    justify-content: center;
}

.container_main {
    height: 70vh;
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.container--foto {
    height: 100%;
    width: auto;
}

.foto {
    height: 100%;
    width: 100%;
}

.diver {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
    padding-right: 20px;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.cont_main .title {
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: 1.9rem;
}

.text {
    font-family: var(--cur-font);
    color: var(--alt-color);
    font-size: 1.5rem;
}



/*SECCION SOBRE MI 2da section*/



.sobremi {
    width: 100%;
}

.container__sobremi {
    width: 1024px;
    margin: 0 auto;
    display: flex;
}

.sobremi__title {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-top: 200px;
    margin-left: 20px;
}

.sobremi__title span {
    font-size: var(--big-font);
    font-family: var(--title-font);
    font-weight: bold;
    line-height: 1;
}

.sobremi__title .alt {
    color: var(--primary-color)
}

.sobremi__text {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-right: 30px;

}

.sobremi__text span {
    padding-right: 20px;
}

.sobremi__text .texttitle {
    font-weight: bold;
    font-size: 1.40rem;
    padding-bottom: var(--sp-1);
}

.sobremi__text .textmain {
    font-size: var(--normal-font);
    padding-bottom: var(--sp-1);
}

.sobremi__text .firma {
    font-family: var(--cur-font);
    font-size: var(--medium-font);
    padding-bottom: var(--sp-2);
}

.sobremi__text .redes {
    padding-bottom: 20px;
    font-size: var(--medium-font);
    display: flex;
    width: 60%;
    justify-content: space-between;
    text-align: center;
    gap: 6px
}

.sobremi__text .link {
    background-color: var(--primary-color);
    border-radius: 100%;
    width: 45px;
    height: 45px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.sobremi__text .link:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.sobremi__img {
    display: flex;
    overflow: hidden;
    align-content: flex-end;
    width: 28%;
}

.sobremi img {
    height: 100%;
}




/*ESTE ES LA 3ra SECTION EDUCACION*/



.educacion {
    width: 100%;
    background-color: var(--primary-color);
    background-image: linear-gradient(to bottom, #1818187c, #00000000)
}

.container__educacion {
    padding: 30px 0 30px 0;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container__formacion {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 70px;
    height: 600px;
}

.container__experiencia {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 10px;
}

.container__formacion {
    display: flex;
    flex-direction: column;

}

.educacion__formacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
    font-size: 2em;
    padding: 0.5em;
    line-height: 1;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
    background-repeat: no-repeat;
    background-image:
        linear-gradient(0deg, var(--clr-border), var(--clr-border) 15%, transparent 15%, transparent 85%, var(--clr-border) 85%),
        linear-gradient(90deg, var(--clr-border), var(--clr-border) 15%, transparent 15%, transparent 85%, var(--clr-border) 85%),
        linear-gradient(180deg, var(--clr-border), var(--clr-border) 15%, transparent 15%, transparent 85%, var(--clr-border) 85%),
        linear-gradient(270deg, var(--clr-border), var(--clr-border) 15%, transparent 15%, transparent 85%, var(--clr-border) 85%);
}



.formacion__img {
    width: 80px;
    display: flex;
    height: 80px;
    align-self: center;
    margin: 30px 0;
}

.formacion__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.formacion__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-left: 10px;
}

.formacion__content span {
    font-size: .75rem;
    margin-bottom: 5px;
}

.formacion__content .content--title {
    font-weight: bold;
}

.formacion__content .content--institucion {
    font-weight: bold;
}

.formacion__content .content--fecha {
    font-weight: bold;
}



/*EXPERIENCIA*/



.educacion__experiencia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
    font-size: 2em;
    padding: 0.5em;
    line-height: 1;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
    background-repeat: no-repeat;
    background-image:
        linear-gradient(0deg, var(--clr-border), var(--clr-border) 15%, transparent 15%, transparent 85%, var(--clr-border) 85%),
        linear-gradient(90deg, var(--clr-border), var(--clr-border) 15%, transparent 15%, transparent 85%, var(--clr-border) 85%),
        linear-gradient(180deg, var(--clr-border), var(--clr-border) 15%, transparent 15%, transparent 85%, var(--clr-border) 85%),
        linear-gradient(270deg, var(--clr-border), var(--clr-border) 15%, transparent 15%, transparent 85%, var(--clr-border) 85%);
}

@keyframes boxBorderAnimation {
    from {
        background-position: 0 0, -20px 0, 100% -20px, 0 100%;
    }

    to {
        background-position: 0 -20px, 0 0, 100% 0, -20px 100%;
    }
}


.experiencia__img {
    width: 100px;
    display: flex;
    height: 100px;
    align-self: center;
    margin: 30px 0;
}

.experiencia__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.experiencia__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-left: 20px;
}

.experiencia__content span {
    font-size: .8rem;
    margin-bottom: 5px;
}

.experiencia__content .content--title {
    font-weight: bold;
}

.experiencia__content .content--institucion {
    font-weight: bold;
}

.experiencia__content .content--fecha {
    font-weight: bold;
}



/*TITULO*/



.educacion__title {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;

}

.educacion__title span {
    font-size: var(--big-font);
    font-family: var(--title-font);
    /* border: 1px solid green; */
    font-weight: bold;
    text-align: right;
    line-height: 1.15;
}

.educacion__title .alt {
    color: var(--alt-color);
}





/*ESTE ES LA 4ra SECTION*/



.habilidades {
    width: 100%;
    background: url(../imgs/fondooscuro.png);

}

.container__habilidades {
    background-size: cover;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habilidades__title {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    font-size: var(--big-font);
    font-family: var(--title-font);
    font-weight: bold;
    line-height: 1;
    text-align: left;
    line-height: 1.15;
    margin-top: 20px;
}

.title__mis {
    font-family: var(--title-font);
    color: var(--primary-color);
}

.title__habilidades {
    font-family: var(--title-font);
    color: var(--alt-color);
}

.habilidades__contenido {

    width: 40%;
    display: flex;
    flex-direction: column;
    color: var(--alt-color);
    padding-left: 40px;
}

.habilidades__contenido span {
    padding-right: 20px;
}

.habilidades__contenido .span__grande {
    font-weight: bold;
    font-size: 1.40rem;
    padding-bottom: var(--sp-1);


}

.habilidades__contenido .span__pequeño {
    font-size: var(--small-font);
    padding-bottom: var(--sp-1);
}

.habilidades__img {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    justify-content: space-around;
    align-content: space-around;
    gap: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}


.card {
    width: 70px;
    color: var(--alt-color);
    font-size: .7rem;
    text-align: center;
}

.card__title {
    font-weight: bold;
}

.card__txtu {
    font-size: .6rem;
}

.card span {
    margin: 0 auto;
}

.img__card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(96, 94, 94);
    width: 70px;
    height: 70px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.habilidades__img .link {
    width: 40px;
    height: 45px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.habilidades__img .img__card:hover {
    background-color: var(--primary-color);
}




/*ESTE ES LA 5ta SECTION PROYECTOS */

.proyectos {
    width: 100%;
}



/*  GALERIA DE PROYECTOS  */



.titleone {
    text-align: center;
    font-family: 'Oswald';
    font-weight: 20px;
    font-size: 3.75rem;
    letter-spacing: 5px;
    background: linear-gradient(rgba(255, 0, 0, 0), #444, rgba(255, 0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;

    @media screen and (min-width:37.5em) {
        font-size: 4.75rem;
    }
}

.p1 {
    margin: 0 auto 2rem;
    text-align: center;
    font-family: 'oswald';
    font-size: 1.50rem;
    color: #444;
    font-weight: 100;
    width: 90%;

    @media screen and (min-width:37.5em) {
        height: 70%;
    }

}

.case-study-gallery {
    margin-top: 50px;
    width: 1024px;
    margin: 50px auto;
}

.case-study {
    position: relative;
    display: block;
    width: 90%;
    height: 250px;
    margin: 0 auto 2rem;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: all .4s ease;

    @media screen and (min-width:37.5em) {
        height: 300px;
    }

    @media screen and (min-width:45em) {
        display: inline-block;
        width: 45%;
        margin-left: 25px;
    }
}


.case-study__img {
    width: 90%;
    display: block;
    margin-top: 50%;
    margin: 0 auto;
}



.case-study__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;

    &:after {
        content: '';
        width: 100%;
        border-radius: 10px;
        height: 100%;
        background-color: #202020;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: -10;
        left: 0;
        transition: all .3s ease;
    }
}

.case-study__title {
    position: relative;
    top: -200px;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-size: 2.25rem;
    font-family: 'Oswald';
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    transition: all .3s cubic-bezier(.3, 0, 0, 1.3);
}

.case-study__link {
    position: relative;
    display: block;
    width: 60%;
    top: 200px;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Oswald';
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 1.25em;
    transition: all .3s cubic-bezier(.3, 0, 0, 1.3);

    &:hover {
        background-color: white;
        color: #202020;
    }
}


.case-study:hover {

    .case-study__title {
        top: 0;
    }

    .case-study__link {
        top: 0;
    }

    .case-study__overlay:after {
        opacity: .75;
    }
}

.study1 {
    background-image: url('http://www.bedlammag.com/wp-content/uploads/2014/04/unsplash-love-yourself-article-e1397699812178.jpg');
}

.study6 {
    background-image: url('http://www.bedlammag.com/wp-content/uploads/2014/04/unsplash-love-yourself-article-e1397699812178.jpg');

}


/* .container__proyectos {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.proyectos__title {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.proyectos__title span {
    font-size: var(--big-font);
    font-family: var(--title-font);
    font-weight: bold;
    line-height: 1;
}

.proyectos__title .alt {
    color: var(--primary-color)
}

.proyectos__text {
    width: 35%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}


.proyectos__text span {
    padding-right: 20px;
}


.proyectos__text .texttitle {
    font-weight: bold;
    font-size: 1.40rem;
    padding-bottom: var(--sp-1);
}

.proyectos__text .textmain {
    font-size: var(--small-font);
    padding-bottom: var(--sp-1);
}

.proyectos__img {
    display: flex;
    overflow: hidden;
    width: 35%;
}

.galeria {
    display: flex;
    width: 100%;
    height: 300px;
}

.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .4;
    transition: .5 ease;
}

.galeria img:hover {
    cursor: pointer;
    width: 150px;
    opacity: 1;
    filter: contrast(120%);
} */

/*ESTE ES LA 6ta SECTION*/


.contacto {
    background-color: #222;
    background-image: linear-gradient(to bottom, #1818187e, #00000049), url("../imgs/cafe.jpg");
    background-position: right;
    background-size: cover;
    width: 100%;
    background-color: var(--primary-color);

}

.container__contacto {
    padding: 30px 0 30px 0;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contacto__text {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto__form {
    width: 55%;
    padding: 20px 50px 20px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.contacto__title {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
}

.contacto__title span {
    font-size: var(--big-font);
    font-family: var(--title-font);
    font-weight: bold;
    text-align: right;
    line-height: 1.15;
}

.contacto__title .titulo {
    color: var(--primary-color);
}

.contacto__title .alt {
    color: var(--alt-color);
}

.contacto__text .text__title {
    font-weight: bold;
    font-size: 1.40rem;
    padding-bottom: var(--sp-1);
    color: var(--alt-color);
}

.contacto__text .text__par {
    font-size: var(--small-font);
    padding-bottom: var(--sp-1);
    font-weight: bold;
    color: var(--alt-color);
}


.contact__input input::placeholder {
    background-color: #22222252;
    color: var(--alt-color);
}

.contact__description textarea::placeholder {
    border: #606060;
    background-color: #2222227b;
    color: var(--alt-color);
    resize: none;
    width: 100%;

}

.contact__inputtext {
    background-color: #22222200;
    color: var(--alt-color);
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

.contact__btn {
    display: flex;
    justify-content: center;
}

.contact__submit {
    background-color: rgb(190, 190, 190);
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 3px 3px 10px 5px #0000002c; */
}



/*footer*/



.footer {
    background-color: var(--primary-color);
    width: 100%;
    height: 70px;
}

.contain__footer {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin: 0 auto;
}

.firma {
    margin-left: 20px;
    font-family: var(--cur-font);
    font-size: var(--big-font);
}

.span2 {
    font-size: var(--small-font);
    /* font-weight: bold; */
}

.mapa {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.footer__mid {
    display: flex;
    flex-direction: row;
    height: inherit;
    align-items: center;
    gap: 10px;
}

.parrafo {
    font-size: var(--small-font);
    /* font-weight: bold; */
}

.contenedor__prueba{
    display: flex;
    background-color: var(--text-color);
    border: 5px solid black;
   width: 100vw;
   height: 100vh;

}













/*RESPONSIVE*/


@media (max-width: 768px) {    

 
    /*CONFIGURACION DEL HEADER*/

.header__nav{
    width: 100%;
    /* margin: 0; */
}

.nav__menu{
    position: fixed;
    width: 85%;
    background-color: #222;
    padding: 60px 40px;
    top: 90px;
    left: -100%;
    transition: right .3s;
}

.menu__btn{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 15px;
    padding-right: 20px;
    font-size: 30px;
}


.show--menu {
   left: 0;
  }

  .cerrar__btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 32px;
    display: flex;
  }

  .nav__link {
    color: #fff;
  }

  .nav__list {
    flex-direction: column;
  }

/*   
@media (min-width: 768px) {
    .cerrar__btn {
      display: none;
    }
  
    .menu__btn {
     position: fixed;
     top: 0;
     right: 0;
     z-index: 99;

    } */
  
  
  /* @media (min-width: 522px) {
    .textcontainer .title{
      font-size: 75px;
    }
  
    .textcontainer .text{
      font-size: 32px;
    }
  }
  
  @media (min-width: 1024px) {
    .textcontainer .title{
      font-size: 50px;
    }
  
    .textcontainer .text{
      font-size: 100px;
    }
  
    /* .hero__description {
      font-size: 42px;
    }
  } */ 


    /*Hero*/



    .container_main {
        height: 100vh;
        width: 100%;
        justify-content: unset;
    }

    .container--foto {
        height: 100%;
        width: 40%;
    }

    .diver {
        height: 100vh;
        justify-content: unset;
        width: 60%;
    }

    .textcontainer {
        text-align: right;
    }

    .cont_main .title {
        font-family: var(--title-font);
        color: var(--primary-color);
        font-size: 1.4rem;
    }

    .text {
        font-family: var(--cur-font);
        color: var(--alt-color);
        font-size: 1.1rem;
    } 


    /*SECCION SOBRE MI 2da section*/


     .container__sobremi{
        width: 100%;
        margin: unset;
    }

    .sobremi__title {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: unset;
        margin-left: unset;
        transform: rotate(0.75turn);
    } 


    .sobremi__text {
        width: 60%;
        padding-top: 20px;
        margin-right: 0;
    }

    .sobremi__text span {
        padding-right: 15px;

    }

    .sobremi__text .texttitle {
        font-size: 1.15rem;
    }

    .sobremi__text .textmain {
        font-size: 0.875rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .sobremi__text .firma {
        padding-bottom: var(--sp-1);
    }

    .sobremi__text .redes {
        width: 80%;
        justify-content: center;
        text-align: center;
        gap: 2px;

    }

    .sobremi__text .link {
        border-radius: 50%;
        width: 50px;
        height: 35px;
    } 



    /*ESTE ES LA 3ra SECTION EDUCACION*/



    .container__educacion {
        padding: 30px 0 30px 0;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container__formacion {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 70px;
        height: 600px;
    }

    .container__experiencia {
        width: 33%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-left: 0px;
        padding-left: 90px;
    }

    .content--txt {
        display: none;

    }

    .formacion__img {
        width: 130px;
        height: 90px;
        margin-left: 10px;
    }

    .formacion__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
    }

    .formacion__content {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        margin-left: 10px;
    } 



    /*TITULO*/



    .educacion__title {
        width: 34%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        transform: rotate(0.75turn);
        order: -1;
        position: relative;
        top: 190px;
    }

    .educacion__title span {
        font-size: var(--big-font);
        font-family: var(--title-font);
        font-weight: bold;
        text-align: right;
        line-height: 1.15;
    }

    .educacion__title .alt {
        color: var(--alt-color);
    } 


    /*ESTE ES LA 4ra SECTION* HABILIDADES*/



    .container__habilidades {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .habilidades__title {
        width: 20%;
        transform: rotate(0.75turn);
        position: relative;
        top: 48px;

    }

    .habilidades__contenido {
        display: none;
    }


    .habilidades__img {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-around;
        align-content: space-around;
        gap: 20px;
        padding-left: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 18px;
    }


    /*esta es la quinta seccion proyectos*/

    .case-study-gallery {
        width: 100%;

    }






    /*ESTE ES LA 6ta SECTION CONTACTO*/




    .container__contacto {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .contacto__text {
        display: none;
    }

    .contacto__form {
        width: 82%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding: 40px;
    }

    .contacto__title {
        width: 18%;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: center;
        transform: rotate(0.75turn);
        position: relative;
        top: 50px;
    }

    .contacto__title span {
        font-size: var(--big-font);
        font-family: var(--title-font);
        font-weight: bold;
        text-align: right;
        line-height: 1;
    }



    /*footer*/



    .contain__footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .firma {
        margin-left: 20px;
        font-family: var(--cur-font);
        font-size: var(--big-font);
    }

    .footer__mid {
        display: none
    }

    .parrafo {
        font-size: 0.7rem;
         font-weight: bold; 
    }
 }
